<ion-header>
  <ion-toolbar>
    <ion-title>Trip</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="information-circle"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="call"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-list  >
    <app-list 
      *ngFor="let tripList of tripLists" 
      [tripItem] = "tripList" [userId] = "user_details.user_id"
    ></app-list>
  </ion-list>
</ion-content>